<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">We are all over the world</p>
</div>

<div class="container">
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, consequatur? Iste, laudantium? Accusantium
            labore commodi expedita. Corporis placeat maiores atque architecto in eligendi vitae porro facere adipisci
            reprehenderit eius omnis magnam nesciunt perspiciatis repudiandae excepturi ullam commodi beatae, harum
            quibusdam sequi quas perferendis veritatis voluptatem. Nostrum dignissimos nulla debitis! Explicabo magnam
            minima, sequi repellat quos sit incidunt quisquam a assumenda dolor vel repudiandae, iusto necessitatibus at
            facilis quas pariatur enim.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga placeat magnam aliquid eum ad in modi assumenda molestias
            est, voluptate sed nemo enim sapiente voluptates, vitae consequuntur quasi tenetur praesentium nesciunt pariatur iure
            perspiciatis nostrum hic. Nostrum, beatae id? Quasi eum nisi perspiciatis commodi. Itaque repellendus, consequuntur
            ipsum rerum ea reiciendis quod facilis ullam at error excepturi voluptatem quidem esse animi neque maxime, dicta
            cupiditate mollitia aspernatur ducimus labore! Corrupti!
        </p>
    </section>
</div>