<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is about us page</p>
</div>

<div class="container">
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dicta rem nemo nobis, porro placeat saepe vel quis
      minima perspiciatis esse enim quisquam obcaecati cupiditate quidem, unde atque! Sapiente repellat pariatur aspernatur,
      ex, quia dicta quasi optio officiis, rerum voluptate nobis mollitia dolore alias iusto voluptas aut fugit? Magni neque
      iste eligendi laboriosam accusantium facere quasi fugiat veniam adipisci perspiciatis numquam impedit voluptatibus, quas
      modi delectus. Omnis dignissimos quos, nihil tempora velit similique totam odit deserunt recusandae maiores minus, quae
      debitis officia laudantium et tempore. Ipsa similique quasi distinctio sint odit dolorem fugit quibusdam magnam. In,
      sapiente. Molestiae, earum. Laboriosam unde assumenda ab aut, numquam dignissimos iste fuga laborum doloribus, in
      voluptas neque facilis sint recusandae debitis vitae? Quo, sequi?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellendus quidem rem sunt excepturi similique
      deleniti sed! Ducimus labore esse enim magnam illo veniam? Quos earum quibusdam quas sint aperiam a consequuntur et unde
      beatae soluta provident vero, quod dignissimos mollitia harum sequi! Similique deserunt quis unde magnam nulla fuga
      dolorum voluptas est id cupiditate sint, maiores modi eos quaerat eum velit! Quia reprehenderit minus, doloribus ipsam
      ipsa accusantium, excepturi dolore veritatis eaque enim provident culpa odit! Praesentium architecto nostrum dolor hic
      ex in assumenda ipsum, porro veniam voluptates maxime unde optio asperiores ipsam laboriosam odit expedita, delectus
      iure mollitia?
    </p>
  </section>
</div>
