wrapper{
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 2px 3px rgb(38, 58, 82);
    margin-block: 20%;
}
.last{
    text-align: center;
}
alert{
    transition-timing-function: linear;
}